# fly.toml
app = "iacagar"  # Reemplaza "nombre-de-tu-app" por el nombre que prefieras para tu aplicaci贸n en Fly.io

kill_signal = "SIGINT"
kill_timeout = 5

[env]
  # Configuraci贸n para que Streamlit se ejecute sin la barra superior
  STREAMLIT_SERVER_HEADLESS = "true"
  STREAMLIT_SERVER_PORT = "8501"
  # Variable adicional para forzar la compilaci贸n de Python en caso de que se intente usar la versi贸n precompilada
  MISE_PYTHON_COMPILE = "1"
